@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  background-color: purple;
  padding: 0.6em 0;
  color: white;
  font-family: cursive;
}
